.root{
    -fx-background-image: url('LoginCadereFaraFata.jpg');
    -fx-background-size:cover;
}

.label{
    -fx-text-fill:#00008b;
    -fx-background-color: transparent;

}
.button{
    -fx-background-color: linear-gradient(#0000cd,#191970);
    -fx-background-radius:20;
    -fx-background-insets: 0,0 0 5 0,0 0 6 0,0 0 7 0;
    -fx-text-fill: white;
    -fx-font-weight: bold italic;
    -fx-font-size: 1.3em;
}



#btn_menu .label{
    -fx-text-fill: white;
}


.menu-button{
    -fx-background-color: linear-gradient(#0000cd,#191970);
    -fx-background-radius:20;
    -fx-background-insets: 0,0 0 5 0,0 0 6 0,0 0 7 0;
    -fx-text-fill: white;
    -fx-font-weight: bold italic;
    -fx-font-size: 1.3em;
}

.menu-item{
    -fx-background-color: linear-gradient(#0000cd,#191970);
    -fx-background-radius:20;
    -fx-background-insets: 0,0 0 5 0,0 0 6 0,0 0 7 0;
    -fx-text-fill: white;
    -fx-font-weight: bold italic;
    -fx-font-size: 1.3em;
}

.table-view{
    -fx-background-color: transparent;
}

.table-view:focused{
    -fx-background-color: transparent;
}

.table-row-cell:odd{
    -fx-background-color: #AFEEEE;
    -fx-background-insets: 0, 0 0 1 0;
}

.table-row-cell:even{
    -fx-background-color: #b0e0e6;
    -fx-background-insets: 0, 0 0 1 0;
}
.list-view{
    -fx-background-color: transparent;
}

.list-view:focused{
    -fx-background-color: transparent;
}

.list-row-cell:odd{
    -fx-background-color: #AFEEEE;
    -fx-background-insets: 0, 0 0 1 0;
}

.list-row-cell:even{
    -fx-background-color: #b0e0e6;
    -fx-background-insets: 0, 0 0 1 0;
}
.list-view .list-cell:odd {
    -fx-background-color: #AFEEEE;
    -fx-background-insets: 0, 0 0 1 0;
}

.list-view .list-cell:even {
    -fx-background-color: #b0e0e6;
    -fx-background-insets: 0, 0 0 1 0;}
