.root{
    -fx-background-image: url('LoginCadere2blurat.jpg');
    -fx-background-size:cover;
}

.button{
    -fx-background-color: linear-gradient(#00008b,#191970);
    -fx-background-radius:20;
    -fx-background-insets: 0,0 0 5 0,0 0 6 0,0 0 7 0;
    -fx-text-fill: white;
    -fx-font-weight: bold italic;
    -fx-font-size: 1.3em;
}
.label{
    -fx-text-fill:#00008b;
    -fx-background-color: transparent;

}

#l_error{
    -fx-text-fill: crimson;
    -fx-font-weight: bold italic;

}

#l_signin{
    -fx-text-fill:#00008b;
    -fx-background-color: transparent;
}
.text-field{
    -fx-background-color: aliceblue;
    -fx-font-size: 1.3em;
    -fx-font-weight: bold;
    -fx-prompt-text-fill: #a9a9a9;
    -fx-background-radius:20;
}
.password-field{
    -fx-background-color: aliceblue;
    -fx-font-size: 1.3em;
    -fx-font-weight: bold;
    -fx-prompt-text-fill: #a9a9a9;
    -fx-background-radius:20;
}