.root{
    -fx-background-image: url('LoginCadere2.jpg');
    -fx-background-size:cover;
}
#btn_events{
    -fx-background-color: linear-gradient(transparent,#ff1493);
    -fx-background-radius:70;
    -fx-background-insets: 0,0 0 5 0,0 0 6 0,0 0 7 0;
}
.button{
    -fx-background-color: linear-gradient(#ffc0cb,#ff1493);
    -fx-background-radius:20;
    -fx-background-insets: 0,0 0 5 0,0 0 6 0,0 0 7 0;
    -fx-text-fill: blue;
    -fx-font-weight: bold italic;
    -fx-font-size: 1.3em;
}

.menu-button{
    -fx-background-color: linear-gradient(#ffc0cb,#ff1493);
    -fx-background-radius:20;
    -fx-background-insets: 0,0 0 5 0,0 0 6 0,0 0 7 0;
    -fx-text-fill: blue;
    -fx-font-weight: bold italic;
    -fx-font-size: 1.3em;
}

.menu-item{
    -fx-background-color: linear-gradient(#ffc0cb,#ff1493);
    -fx-background-radius:20;
    -fx-background-insets: 0,0 0 5 0,0 0 6 0,0 0 7 0;
    -fx-text-fill: blue;
    -fx-font-weight: bold italic;
    -fx-font-size: 1.3em;
}

.table-view{
    -fx-background-color: transparent;
}

.table-view:focused{
    -fx-background-color: transparent;
}

.table-row-cell:odd{
    -fx-background-color: #FFC0CB;
    -fx-background-insets: 0, 0 0 1 0;
}

.table-row-cell:even{
    -fx-background-color: #B0E0E6;
    -fx-background-insets: 0, 0 0 1 0;
}